.panel-primary .panel-heading .panel-title  {background-color: #0C2A3A;}
.panel-primary .panel-heading .panel-title  {color: #FFFFFF;}
.panel-default .panel-heading .panel-title  {background-color: #F5F5F5;}
.panel-default .panel-heading .panel-title  {color: #333333;}
.panel  {background-color: #FFFFFF;}
.panel-footer  {background-color: #F5F5F5;}
.panel-category-list .well  {background-color: #FFFFFF;}
.panel-category-list .well h5  {color: #333333;}
.panel-category-list .well  {border-color: #F0F0F0;}
.panel-product-list .well  {background-color: #FFFFFF;}
.panel-product-list .well  {color: #333333;}
.panel-product-list .well  {border-color: #F0F0F0;}