<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Equipment
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row text-center">
            Serve it up. Get all of the culinary equipment you need to build a sandwich masterpiece and more.
        </div>
        </br>
        <div class="row">
            <div class="col-md-4">
                <img style="margin:0 auto 10px;" class="img-responsive" alt="" src="css/images/CES_meatslicer.png"/>
                <div style="padding:20px;">
                    We have an array of light to heavy-duty slicers, as
                    well as other countertop equipment essentials, including microwaves, toasters, sandwich grills,
                    soup kettles, and so much more.
                </div>
            </div>
            <div class="col-md-4">
                <img style="margin:0 auto 10px;" class="img-responsive" alt="" src="css/images/CES_delicase.png"/>
                <div style="padding:20px;">
                    Make sandwich prep a breeze with our stainless steel interior and exterior prep tables, available in a variety of sizes.
                </div>
            </div>
            <div class="col-md-4">
                <img style="margin:0 auto 10px;" class="img-responsive" alt="" src="css/images/CES_knife.png"/>
                <div style="padding:20px;">
                    Don’t forget the smallwares and other preparation supplies! Cutting boards, knives, scales, tongs, rotation labels, thermometers, storage pans…the
                    list goes on and on, and we have it all!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-green-banner">

    <p>
        Shop these products and thousands more! <a href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/2014USFCatalog.pdf">Click here</a> to view our 2014 Equipment & Supplies catalog,
        or go to <a href="http://www.usfoodsculinaryequipmentandsupplies.com" target="_blank">www.usfoods.com/equipmentandsupplies</a>. To place an order, contact your US Foods sales representative.
    </p>
    <a href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/2014USFCatalog.pdf" class="image-link">
        <img alt="" src="css/images/CES_catalog.png"/>
    </a>
</div>