<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Equipment
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row text-center">
            Serve it up. Get all of the culinary equipment you need to build a sandwich masterpiece and more.
        </div>
        </br>
        <div class="row">
            <div class="col-lg-5">
                <img class="img-responsive" alt="" ng-src="{{StaticSpecGroups.EvenSpecGroups[0].Specs.Slicer.FileURL}}">
                We have an array of light to heavy-duty slicers, as
                well as other countertop equipment essentials, including microwaves, toasters, sandwich grills,
                soup kettles, and so much more.
            </div>
            <div class="col-lg-5 col-lg-offset-1" >
                <img class="img-responsive" alt="" ng-src="{{StaticSpecGroups.EvenSpecGroups[0].Specs.Table.FileURL}}">
                Make sandwich prep a breeze with our stainless steel interior and exterior prep tables, available in a variety of sizes.
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-5">
                <img class="img-responsive" alt="" ng-src="{{StaticSpecGroups.EvenSpecGroups[0].Specs.Knives.FileURL}}">
                Don’t forget the smallwares and other preparation supplies! Cutting boards, knives, scales, tongs, rotation labels, thermometers, storage pans…the
                list goes on and on, and we have it all!
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <img class="img-responsive" alt="" ng-src="{{StaticSpecGroups.EvenSpecGroups[0].Specs.Catalog.FileURL}}">
                Shop these products and thousands more! <a href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/2014USFCatalog.pdf">Click here</a> to view our 2014 Equipment & Supplies catalog,
                or go to <a href="www.usfoods.com/equipmentandsupplies">www.usfoods.com/equipmentandsupplies</a>. To place an order, contact your US Foods sales representative.
            </div>
        </div>
    </div>
</div>