<div class="panel panel-default" ng-show="StaticSpecGroups">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{'Gallery' | r | xlat}}
            <p>{{LineItem.Product.Description}}</p>
        </h3>
    </div>
    <div class="panel-body" ng-repeat="sg in StaticSpecGroups.EvenSpecGroups" ng-show="StaticSpecGroups.EvenSpecGroups">
        <div class="col-md-6" ng-repeat="s in sg.Specs">
            <ul class="list-group" >
                <li>
                    <figure ng-show="s.VisibleToCustomer" >
                        <img class="image-responsive" style="max-width:100%; height:auto" ng-src="{{s.FileURL}}">
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>