<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Menus
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <h3>2-Week Cycle Menus</h3>
        </div></br>
        <div class="row">
            <div class="col-lg-8">
                <i class="fa fa-check-square-o"></i>
                Recipes are created to build traffic at the deli, but they’re also built for speed—easily made by servers or kitchen prep staff with only a basic skill level.
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-8">
                <i class="fa fa-check-square-o"></i>
                Gourmet sandwich recipes take a little more expertise, but put these recipes in the hands of servers or culinary team members with an intermediate skill level, and you have daily specials that will compete with the best deli sandwiches in town!
            </div>
        </div>
        </br>
        <div class="row">
            <h3>Exclusive Menu Themes</h3>
        </div></br>
        <div class="row">
            <div class="col-lg-8">
                <i class="fa fa-check-square-o"></i>
                Description: they started out as “midweek specials," but the popularity and versatility of these 10 door-busting deli concepts have made them much more than that. Metro Deli Exclusive concepts are as versatile as they are appealing. You can offer them one day each week if you have the volume. You can establish a permanent station devoted to them. Exclusive themes include:
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <ul>
                    <li><i class="fa fa-check"></i> Deli Salad Sandwiches</li>
                    <li><i class="fa fa-check"></i> Metro Wraps</li>
                    <li><i class="fa fa-check"></i> Metro Subs</li>
                    <li><i class="fa fa-check"></i> Seafood Sandwich Legends</li>
                    <li><i class="fa fa-check"></i> Metro Marche</li>
                    <li><i class="fa fa-check"></i> Metro Manhattan</li>
                    <li><i class="fa fa-check"></i> Metro Stackers</li>
                    <li><i class="fa fa-check"></i> Metro Clubs</li>
                    <li><i class="fa fa-check"></i> Metro Cutlet Sandwiches</li>
                    <li><i class="fa fa-check"></i> Metro Presto</li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        <div class="row ">
            <div class="">
                <a class="thumbnail" href="catalog/MENU_SUBNAV">
                    <div class=" text-center">
                        Select a menu here.
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>