<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Menus
        </div>
        <div class="text-center">
            All the swag you want. We've got the goods to dress up your employees and your business Metro Deli style.
        </div>
    </div>
    <div class="panel panel-body">

        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="img-responsive" src="css/images/MD_menu1.png" alt=""/>
                </figure>
                <h3>2-Week Cycle Menus</h3>
                <p>Recipes are created to build traffic at the deli, but they’re also built for speed—easily made by servers or kitchen prep staff with only a basic skill level. Gourmet sandwich recipes take a little more expertise, but put these recipes in the hands of servers or culinary team members with an intermediate skill level, and you have daily specials that will compete with the best deli sandwiches in town!</p>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="img-responsive" src="css/images/MD_menu2.png" alt=""/>
                </figure>
                <h3>Exclusive Menu Themes</h3>
                <p>Description: they started out as “midweek specials," but the popularity and versatility of these 10 door-busting deli concepts have made them much more than that. Metro Deli Exclusive concepts are as versatile as they are appealing. You can offer them one day each week if you have the volume. You can establish a permanent station devoted to them. Exclusive themes include:</p>
                <ul class="row">
                    <div class="col-xs-6">
                        <li><i class="fa fa-check"></i> Deli Salad Sandwiches</li>
                        <li><i class="fa fa-check"></i> Metro Wraps</li>
                        <li><i class="fa fa-check"></i> Metro Subs</li>
                        <li><i class="fa fa-check"></i> Seafood Sandwich Legends</li>
                        <li><i class="fa fa-check"></i> Metro Marche</li>
                    </div>
                    <div class="col-xs-6">
                        <li><i class="fa fa-check"></i> Metro Manhattan</li>
                        <li><i class="fa fa-check"></i> Metro Stackers</li>
                        <li><i class="fa fa-check"></i> Metro Clubs</li>
                        <li><i class="fa fa-check"></i> Metro Cutlet Sandwiches</li>
                        <li><i class="fa fa-check"></i> Metro Presto</li>
                    </div>
                </ul>
            </div>
        </div>
        <a class="thumbnail text-center" href="catalog/MENU_SUBNAV">
            Select a menu here.
        </a>
    </div>
</div>
<div class="md-green-banner">
    <p>
        Customize your menu by completing the attached menu order guide:
    </p>
    <a href="catalog/MENU_SUBNAV" class="image-link">
        <img alt="" src="css/images/MD_menu3.png"/>
    </a>
</div>