<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Sales Documents
        </div>
    </div>
    <div class="panel panel-body sales-doc-panel">
        <div class="row text-center">
            Feast for the eyes. Check out our Metro Deli sell sheets and videos to learn about our products.
            Click on the images to download the PDF.
        </div>
        </br>
        <div class="row" ng-repeat="documentCategory in DocumentCategories">
            <div class="container">
                <h3>{{documentCategory.Name | uppercase}}</h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="document in documentCategory.SalesDocuments">
                <a href="{{'lib/assets/SalesDocuments/' + document.PDF}}" target="_blank">
                    <figure>
                        <img class="img-responsive" ng-src="{{'lib/assets/SalesDocuments/' + document.Image}}">
                    </figure>
                </a>
                <div class="caption text-center">
                    {{document.Name}}
                </div>
            </div>
        </div>
        <!--<div>
            <div class="col-md-3">
                <ul>
                    <li ng-repeat="documentCategory in DocumentCategories" ng-click="$parent.activeSalesDocuments = documentCategory.SalesDocuments">
                        {{documentCategory.Name}}
                    </li>
                </ul>
            </div>
            <div class="col-md-9" ng-show="activeSalesDocuments">
                <div class="col-md-4 col-xs-6" ng-repeat="document in activeSalesDocuments">
                    <a href="{{'lib/assets/SalesDocuments/' + document.PDF}}" target="_blank">
                        <figure>
                            <img class="img-responsive" ng-src="{{'lib/assets/SalesDocuments/' + document.Image}}">
                        </figure>
                    </a>
                    <div class="caption text-center">
                        {{document.Name}}
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
