<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Sales Documents
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row text-center">
            Feast for the eyes. Check out our Metro Deli sell sheets and videos to learn about our products.
            Click on the images to download the PDF.
        </div>
        </br>
        <div class="row">
            <div class="col-lg-3 col-xs-6" ng-repeat="document in SalesDocuments">
                <a href="{{'lib/assets/SalesDocuments/' + document.PDF}}" target="_blank">
                    <figure>
                        <img class="img-responsive" ng-src="{{'lib/assets/SalesDocuments/' + document.Image}}">
                    </figure>
                </a>
                <div class="caption text-center">
                    {{document.Name}}
                </div>
            </div>
        </div>
    </div>
</div>
