<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Sales Documents
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row text-center">
            Feast for the eyes. Check out our Metro Deli sell sheets and videos to learn about our products.
            Click on the images to download the PDF.
        </div>
        </br>
        <div class="row">
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="https://ops.imagineps.com//Files/BrokerBranding/MetroDeli/Include/MDBrochure2014pages.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[7].File.Url}}">
                </a>
                <div class="caption text-center">
                    2014 Metro Deli Brochure
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="https://ops.imagineps.com//Files/BrokerBranding/MetroDeli/Include/MDeliNutritionBookv2.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[8].File.Url}}">
                </a>
                <div class="caption text-center">
                    2014 Metro Deli Nutrition Guide
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/415066MDConceptBrochurer1.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[9].File.Url}}">
                </a>
                <div class="caption text-center">
                    Concept Brochure
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_AllNaturalHam_SS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[10].File.Url}}">
                </a>
                <div class="caption text-center">
                    Uncured Gourmet Ham
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_AngusHotDog.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[11].File.Url}}">
                </a>
                <div class="caption text-center">
                    Angus Beef Franks
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_BeefTopRound_SS_Print.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[12].File.Url}}">
                </a>
                <div class="caption text-center">
                    Beef Top Round
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_Buffalo%20Chicken.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[13].File.Url}}">
                </a>
                <div class="caption text-center">
                    Buffalo Style Chicken Breast
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_AllNaturalHam_SS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[14].File.Url}}">
                </a>
                <div class="caption text-center">
                    Corned Beef & Pastrami
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_DF%20Turkey.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[15].File.Url}}">
                </a>
                <div class="caption text-center">
                    Deep Fried Turkey Breast
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_FriedChicken_and_OvenRoastedChicken.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[16].File.Url}}">
                </a>
                <div class="caption text-center">
                    Deep Fried & Oven-Roasted Chicken Breast
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_Hams.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[17].File.Url}}">
                </a>
                <div class="caption text-center">
                    Uncured Gourmet Ham/Honey Ham
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_PepperoniAndSalami_SS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[18].File.Url}}">
                </a>
                <div class="caption text-center">
                    Pepperoni & Salami
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_SmokedTurkey_SS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[19].File.Url}}">
                </a>
                <div class="caption text-center">
                    Applewood-smoked Turkey Breast
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_PreparedDeliSalads_SS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[20].File.Url}}">
                </a>
                <div class="caption text-center">
                    Prepared Deli Salads
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_TurkeyBreast_SS_Print.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[21].File.Url}}">
                </a>
                <div class="caption text-center">
                    Turkey Breast
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="http://ops.imagineps.com/Files/BrokerBranding/MetroDeli/Include/MD_Condiments_SS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[22].File.Url}}">
                </a>
                <div class="caption text-center">
                    Condiments
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="https://ops.imagineps.com//Files/BrokerBranding/MetroDeli/Include/MDHoneyRoastedTurkeyBreastSS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[23].File.Url}}">
                </a>
                <div class="caption text-center">
                    Honey Roasted Turkey Breast
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="https://ops.imagineps.com//Files/BrokerBranding/MetroDeli/Include/MDSmokehouseHamSS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[24].File.Url}}">
                </a>
                <div class="caption text-center">
                    Smokehouse Uncured Ham
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 ">
                <a class="thumbnail" href="https://ops.imagineps.com//Files/BrokerBranding/MetroDeli/Include/MDChipsSS.pdf" target="_blank">
                    <img class="img-responsive" alt="" ng-src="{{user.CustomFields[25].File.Url}}">
                </a>
                <div class="caption text-center">
                    Chips
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Sales Videos
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row text-center">
            To browse all of our videos, please visit our <a href="https://www.youtube.com/channel/UCOzFkZMsCmTiUvmAR6PFY1w" target="_blank">YouTube page</a>.
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3 hidden-xs ">
                <iframe width="560" height="315" src="//www.youtube.com/embed/Yt4WCcTL6-I" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3 hidden-xs ">
                <iframe width="560" height="315" src="//www.youtube.com/embed/vq0fwH9zgR4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>