<nav class="navbar navbar-inverse" ng-init="showMobileMenu = false">
    <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
        <li><a ng-click="showMobileMenu = !showMobileMenu"><i class="fa fa-caret-down" ng-class="{'fa-caret-up':showMobileMenu}"></i></a></li>
    </ul>
    <ul class="nav navbar-nav" ng-class="{'hidingDisabled':showMobileMenu}">
        <li class="hidden-md hidden-lg" ng-class="{'active': isActive('home')}"><a href="home" ng-click="showMobileMenu = false">{{isActive('home') ? 'Go to...' : 'Homepage'}}</a></li>
        <li ng-class="{'active': isActive('sales')}"><a href="sales" ng-click="showMobileMenu = false">Sales</a></li>
        <li ng-class="{'active': isActive('videos')}"><a href="videos" ng-click="showMobileMenu=false">Videos</a></li>
        <li ng-class="{'active': isActive('catalog/Gallery') || isInPath('PicGroup')}"><a href="catalog/Gallery" ng-click="showMobileMenu = false">Gallery</a></li>
        <li ng-class="{'active': isActive('process')}"><a href="process" ng-click="showMobileMenu=false">Project Process</a></li>
        <li ng-class="{'active': isActive('projectRequest')}"><a href="projectRequest" ng-click="showMobileMenu=false">Project Request</a></li>
        <li ng-class="{'active': isActive('menu')}"><a href="menu" ng-click="showMobileMenu=false">Menu Info</a></li>
        <li ng-class="{'active': isActive('equipment')}"><a href="equipment" ng-click="showMobileMenu=false">Equipment</a></li>
        <li ng-class="{'active': (isInPath(['catalog', 'product', 'order', 'search']) || isActive(['cart','checkout','admin','address','addresses']) ) && (!isInPath(['PicGroup','Gallery']))}"><a href="catalog" ng-click="showMobileMenu = false">Marketing Store</a></li>
    </ul>
</nav>