<div class="451qa_prod_item short-gallery-list-view">
    <a href="product/{{LineItem.Product.InteropID}}">
        <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
            <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
        </figure>
        <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
            <span class="fa empty"><i class="fa fa-camera"></i></span>
        </div>
        <h3 style="min-height: 0px; font-weight: bold;" class="text-center">{{LineItem.Product.ExternalID}}</h3>
        <h4 class="text-center">{{LineItem.Product.Name}}</h4>
    </a>
</div>