</br>
<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="panel panel-title">
            Sales Videos
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row text-center">
            To browse all of our videos, please visit our <a href="https://www.youtube.com/channel/UCOzFkZMsCmTiUvmAR6PFY1w" target="_blank">YouTube page</a>.
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3 col-sm-4 col-sm-offset-2 text-center">
                <iframe  src="//www.youtube.com/embed/Yt4WCcTL6-I" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3 col-sm-4 col-sm-offset-2 text-center ">
                <iframe  src="//www.youtube.com/embed/vq0fwH9zgR4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>