<div class="row home-view">
    <div class="col-md-10 col-md-offset-1">
        <figure>
            <img src="css/images/LandingImage.jpg" />
        </figure>
        <h3 class="text-center">The Metro Deli retail program delivers</h3>
        <div class="row">
            <div class="col-sm-6">
                <ul class="text-center">
                    <li>Mainstream retail appeal</li>
                    <li>Superior quality products</li>
                    <li>Improved taste and menu appeal</li>
                    <li>Higher check averages</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="text-center">
                    <li>Increased participation </li>
                    <li>Faster service </li>
                    <li>Improved labor productivity</li>
                    <li>Enhanced customer satisfaction</li>
                </ul>
            </div>
        </div>
        <p class="text-center">Brands deliver superior financial results and customer preference over non-brands. The Metro Deli proves that point.</p>
    </div>
</div>