.container-view {
  margin-top:0;
  background-color:#000;
}

.navbar .container .navbar-nav.pull-left li.fadeInLeft a i,
.navbar .container-view .navbar-nav.pull-left li.fadeInLeft a i {
  color:#fff;
}

.branding-view {
  background-color:@md-green;
  .logo-image{
    display:block;
    img {
      max-width:100%;
      margin:0 auto;
    }
  }
  .header-image {
    padding-top:20px;
    img {
      max-width: 100%;
      margin:0 0 0 auto;
    }
  }
}