.container-view {
  margin-top:0;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#000;
  @media (min-width:@screen-md-min) {
    &.header-locked {
      margin-top:207px;
    }
  }
}
.panel {
  .panel-heading {
    border:none;
    .panel-title {
      padding:10px 15px;
      font-family: @pathway-gothic-one;
      font-size:2.5em;
      letter-spacing: normal;
    }
  }
  &.panel-order {
    .panel-heading {
      background-color:#333;
    }
    .panel-body {
      background-color:#222;
    }
  }
}

gallery-list-view {
  h3.panel-title p {
    font-size:0.5em;
    font-weight:bold;
    font-family:@font-family-sans-serif;
    color:@md-green;
    letter-spacing: normal;
  }
}
.short-gallery-list-view {
  a {
    margin-bottom:20px;
    color: #fff;
  }
}

.galleries-view {
  figure {
    cursor: pointer;
    img {
      margin:0 auto;
    }
  }
  & > div {
    margin-bottom:15px;
  }
  .gallery-title {
    min-height:116px;
    padding:20px 0;
    h3,h4 {
      margin:0;
    }
    h3 {
      margin-bottom:10px;
    }
  }
}

.gallery-view {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .container {
    padding:10px 0;
    @media(min-width: @screen-sm-min) {
      padding: 10px 30px;
    }
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    & > div {
      padding: 10px;
      background-color: #000;
    }
  }
  h1 {
    font-family: @pathway-gothic-one;
    text-align: center;
  }
  p {
    text-align: center;
    color: @md-green;
    font-weight:bold;
    font-size:1.4em;
  }
  i {
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
  }
  figure {
    margin-bottom:10px;
  }
}

form {
  &[name="addToOrderForm"] {
    .panel.panel-default {
      border-color: @md-green;
      .panel-heading {
        background-color: @md-green;
        color: #000;
      }
    }
  }
  &[name="cart"] {
    .panel.panel-default{
      border-color:#222;
      .panel-heading {
        background-color:#333;
        color:#fff;
        .panel-title {
          font-family: @pathway-gothic-one;
        }
      }
    }
  }
}

.panel-nav ul li.active{
  background-color:transparent;
  & > a {
    color:@md-green;
  }
}

.panel-lineitem {
  background-color:#222;
}

shortproductviewminimal {
  .panel-body {
    h3 {
      color: @md-green;
      font-size: 1em;
    }
    & > div {
      min-height:60px;
    }
  }
}

.panel-product-list ul li.inline h3 {
  min-height: 80px;
}

.badge {
  color:#000;
}

.navbar-fixed-bottom.container {
  padding:0;
  .badge {
    color:#fff;
  }
}

.nav.nav-tabs {
  & > li {
    &.active {
      & > a {
        background-color: @md-green !important;
        color:#000;
        border-color:darken(@md-green, 5) !important;
      }
    }
    &:hover,
    &:focus {
      & > a {
        color:#000;
        background-color: fade(@md-green, 60);
        border-color:fade(darken(@md-green, 5), 60);

      }
    }
    & > a {
      color:@md-green;
    }
  }
}

.tab-pane {
  color:#fff;
  .list-group,
  .list-group-item{
    border:none;
  }
}

.navbar .container .navbar-nav.pull-left li.fadeInLeft a i,
.navbar .container-view .navbar-nav.pull-left li.fadeInLeft a i {
  color:#fff;
}

.license-agreement {
  & > div {
    padding:15px;
    background-color:#000;
    a {
      display:block;
    }
    img {
      float:left;
    }
  }
}

.branding-view {
  background-color:@md-green;
  .logo-image{
    display:block;
    img {
      max-width:100%;
      margin:0 auto;
    }
  }
  .header-image {
    padding-top:20px;
    img {
      max-width: 100%;
      margin:0 0 0 auto;
    }
  }
  @media (min-width:@screen-md-min) {
    &.locked {
      position:fixed;
      left:0;
      right:0;
      top:0;
      z-index:1029;
    }
  }
}

.project-process{
  h3 {
    &:not(:first-of-type) {
      border-top:1px solid @md-green;
    }
    font-family: @pathway-gothic-one;
    font-size:2.2em;
    cursor: pointer;
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    padding:20px 10px;
    .transition(all 200ms ease-in-out);
    .flex-display(flex);
    .flex-wrap(nowrap);
    .flex-direction(column);
    @media(min-width: @screen-sm-min) {
      .flex-direction(row);
    }
    i,
    div {
      .flex(1);
      @media(max-width:@screen-xs-max) {
        text-align:center;
        &:not(:last-child){
          padding-bottom:2px;
        }
      }
    }
    &.open {
      color:#000;
      background-color:@md-green;
      div,
      i{
        color:#000;
      }
    }
  }
  i {
    color:@md-green;
  }
  & > div {
    border:1px solid #fff;
    figure {
      padding: 10px;
      img {
        max-width:100%;
        margin:0 auto;
      }
    }
    ul {
      padding:20px;
    }
  }
}

input.ng-invalid, textarea.ng-invalid, select.ng-invalid,
input.ng-invalid:invalid, textarea.ng-invalid:invalid, select.ng-invalid:invalid {
  border-color: @input-border;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:@fourfiveone-gray-medium;
  &:focus,
  &.ng-invalid:focus,
  &:invalid:focus  {
    border-color: @input-border-focus;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: @fourfiveone-gray-medium;
  }
}
label {
  display: block;
  &.required {
    color: #fff;
  }
}

.dropdown-menu {
  border-width:0;
  .divider {
    background-color:#333;
  }
}

.md-green-banner {
  position:relative;
  max-width:885px;
  margin-left:-5px;
  margin-bottom:25px;
  min-height:90px;
  padding:15px;
  background-color:@md-green;
  color:#000;
  font-weight:bold;
  a {
    color:#000;
    &.image-link {
      display:block;
      .rotate(8deg);
      img {
        margin:0 auto 10px;
        max-width:100px;
      }
    }
  }

}

@media (max-width: @screen-sm-max) {
  .md-green-banner {
    margin-right:-5px;
  }
}

@media (min-width:@screen-sm-min) {
  .md-green-banner {
    & > p {
      max-width:80%;
      margin:0;
    }
    a.image-link {
      max-width:100px;
      position:absolute;
      top:-20px;
      right:50px;
      img {
        max-width:100%;
      }
    }
  }
}

@media (min-width:@screen-md-min) {
  .md-green-banner {
    padding-right:50px;
    &:after {
      background-color:#000;
      content: '';
      position: absolute;
      z-index:100;
      right:-60px;
      top:-8px;
      height:100%;
      width:90px;
      -webkit-transform: rotate(55deg) skew(30deg, 0deg);
      -ms-transform: rotate(55deg) skewX(30deg) skewY(0deg); // IE9 only
      transform: rotate(55deg) skew(30deg, 0deg);
    }
  }
}

.ces-logo {
  @media(min-width:@screen-md-min) {
    float:left;
  }
  padding:10px;
  max-width:150px;
  img {
    margin:0 auto;
    max-width: 100%;
  }
}

iframe {
  max-width:100%;
}

.project-request {
  .view-form-icon label {
    font-size:1em;
    top:-25px;
  }
}